.rmdb-loadmorebtn {
  background: #7a7a7a;
  width: 40%;
  margin: auto;
  min-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 20px;
}

.rmdb-loadmorebtn p {
  font-family: "Abel", sans-serif;
  font-size: 42px;
  padding: 5px;
  margin: 0px 0px;
}

.rmdb-loadmorebtn:hover {
  opacity: 0.8;
}
