.rmdb-searchbar {
  width: 100%;
  height: 70px;
  background: #1c1c1c;
  position: unset;
  padding: 15px 10px 0px 10px;
  box-sizing: border-box;
  color: #fff;
}

.rmdb-searchbar-content {
  max-width: 1280px;
  width: 100%;
  height: 40px;
  background: #353535;
  margin: 0 auto;
  border-radius: 60px;
  color: #fff;
}

.rmdb-fa-search {
  padding-left: 25px;
  top: 3px;
  color: #fff;
}

.rmdb-searchbar-input {
  font-family: "Abel", sans-serif;
  font-size: 28px;
  margin: 8px 0 0 20px;
  border: 0;
  background: transparent;
  height: 22px;
  width: 90%;
  color: #fff;
}

.rmdb-searchbar-input:focus {
  outline: none;
}

@media screen and (max-width: 770px) {
  .rmdb-searchbar-input {
    font-size: 26px;
    color: #fff;
  }
}
